
<section class="site-header">
    <div class="container">

        <div class="header-layout">

            <a class="logo-link" href="/">
                <img class="logo-image" src="~/images/logotype.webp" alt="CoreFitness logo" />
            </a>

            <partial name="Partials/_PrimaryNavigation" />

            <nav class="account-navigation" aria-label="Account navigation">
                <ul class="menu">

                    @if (User.Identity?.IsAuthenticated == true) 
                    {
                        @if (User.IsInRole(Roles.Admin))
                        {
                            <li class="menu-item">
                                <a class="menu-link" asp-controller="Admin" asp-action="Index">Admin Center</a>
                            </li>

                            @* SIGN OUT FORM *@
                            <partial name="Partials/_SignOutForm" />
                        }

                        <li class="menu-item">
                            <a class="menu-link" asp-controller="Account" asp-action="Index">My Account</a>
                        </li>
                    }

                    else
                    {
                        <li class="menu-item">
                            <a class="menu-link" asp-controller="SignUp" asp-action="SignUp">Become member</a>
                        </li>
                        <li class="menu-item">
                            <a class="primary-button offset" asp-controller="SignIn" asp-action="SignIn">Sign in</a>
                        </li>
                    }
                    
                </ul>
            </nav>
        </div>
    </div>
</section>