<header class="site-header">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="~/images/logotype.webp" alt="CoreFitness Logo"></a>
        </div>
        <nav class="navbar">
            <ul class="nav-links">
                <li class="nav-link"><a href="/fitnesscenters">FitnessCenters</a></li>
                <li class="nav-link"><a href="/memberships">Memberships</a></li>
                <li class="nav-link"><a href="/training">Training</a></li>
                <li class="nav-link"><a href="/customerservice">Customer Service</a></li>
                <li class="nav-link"><a href="/store">Store</a></li>
            </ul>
        </nav>
        <div class="account-navbar">
            <ul class="nav-links">
                <li class="nav-link"><a href="/signup">Become member</a ></li>
                <li class="nav-link"><a href="/signin">Sign in</a></li>
            </ul>
        </div>
    </div>
</header>
