/*=======================================
    App-layout
=======================================*/
.app-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

.container {
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;

    /*Om viewportens bredd är 768px eller större --> begränsa innehållets maxbredd till 720px.*/
    @media (width >= 768px) {
        max-width: 720px;
    }

    @media (width >= 992px) {
        max-width: 960px;
    }

    @media (width >= 1200px) {
        max-width: 1140px;
    }

    @media (width >= 1400px) {
        max-width: 1320px;
    }

    /*ingen maxbreddsbegränsning*/
    &.full {
        width: 100%;
        max-width: 100%;
    }
}



/*=======================================
Footer
=======================================*/
footer {
    margin: 1rem;
    padding: 1.563rem 2rem;
    border-radius: 20px;
    background-color: var(--footer-bg-color);
    /*laddar bilden som bakgrund i footern*/
    background-image: url(../images/dark-section-img.webp);
    /*visa bilden en gång i footern, utan att upprepa den (annars upprepas bilden per default för att fylla hela elementet)*/
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--footer-text-color);
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    border-radius: 1.25rem;
    padding: 1rem;
}

