/*=======================================
    Custom CSS-variables
=======================================*/
:root {
    --default-font: "DM Sans", sans-serif;
    --title-font: "Poppins", sans-serif;
    --dark-color: #27252F;
    /*transparent version, t, t2*/
    --dark-color-alpha-30: #27252f4d;
    --dark-color-alpha-75: rgba(64,64,64,0.75);
    --gray-color: #6F6F6F;
    --lightgray-color: #A7A7A7;
    --primary-color: #D6EB31;
    --light-color: #F7F7F7;
    --white-color: #FFFFFF;
    --error-color: #AB281F;
    --default-bg-color: var(--light-color);
    --default-text-color: var(--dark-color);
    --border-color: var(--gray-color);
    --border-primary-color: var(--primary-color);
    --header-bg-color: var(--dark-color);
    --header-text-color: var(--white-color);
    --footer-bg-color: var(--dark-color);
    --footer-text-color: var(--white-color);
    --menu-item-text-color: var(--white-color);
    --menu-item-hover-text-color: var(--primary-color);
    --menu-dropdown-item-bg-color: var(--primary-color);
    --menu-dropdown-item-text-color: var(--dark-color);
    --menu-dropdown-item-hover-bg-color: var( --dark-color-alpha-30);
    --menu-dropdown-item-hover-text-color: var(--white-color);
    --primary-button-bg-color: var(--primary-color);
    --primary-button-text-color: var(--dark-color);
    --primary-button-hover-bg-color: var(--dark-color);
    --primary-button-hover-text-color: var(--white-color);
    --primary-button-hover-offset-bg-color: var(--white-color);
    --primary-button-hover-offset-text-color: var(--dark-color);
    --form-label-text-color: var(--dark-color);
    --form-input-bg-color: var(--light-color);
    --form-input-border-color: var(--light-color);
    --form-input-error-bg-color: var(--light-color);
    --form-input-error-border-color: var(--light-color);
    --form-input-error-text-color: var(--dark-color);
    --form-error-text-color: var(--error-color);
    --form-placeholder-text-color: var(--lightgray-color);
    --section-spacing-sm: 5rem; /* 80px */
    --section-spacing-md: 6rem; /* 96px */
    --section-spacing-lg: 8rem; /* 128px */

    --space-xxs: 0.35rem;
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 2.5rem;
    --space-xxl: 3rem;
    --radius-sm: 10px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 20px;
    --radius-pill: 999px;
}

/*=======================================
    Fonts
=======================================*/
@font-face {
    font-family: "Font Awesome 7 Pro";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/fa-regular-400.woff2");
}

@font-face {
    font-family: "Font Awesome 7 Pro Solid";
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../fonts/fa-solid-900.woff2");
}


/*=======================================
    Reset / Base
=======================================*/
*, *::before, 
*::after {
    box-sizing: border-box;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    background-color: var(--default-bg-color);
    color: var(--default-text-color);
    font-family: var(--default-font);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--title-font);
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
    /*line-height: 3.75rem;*/
}



/*<horizontal rule> - skapar center horisontell skiljelinje*/
hr {
    margin: 0;
    border: none;
    height: 0.0625rem;
    background: var(--border-color);
    opacity: 0.4;
     /*& = det aktuella elementet --> hr, som har klassen primary (hr.primary)*/
    &.primary {
        background: var(--border-primary-color);
        opacity: 0.1;
    }
}

.line-break {
    display: block;
}   
