@{
    string? currentController = ViewContext.RouteData.Values["controller"]?.ToString();
}

<nav class="aside-navigation" aria-label="Admin navigation">
    <ul class="menu">
        <li class="menu-item">
            <a class="menu-link @(currentController == "AdminWorkoutSessions" ? "active" : "")" asp-controller="AdminWorkoutSessions" asp-action="Index">Workout Sessions</a>
        </li>
    </ul>
</nav>