<nav class="aside-navigation" aria-label="Admin navigation">
    <ul class="menu">
        <li class="menu-item">
            <a class="menu-link" asp-controller="AdminWorkoutSessions" asp-action="Index">Workout Sessions</a>
        </li>
    </ul>
</nav>