.section__about-us {
    padding: var(--section-spacing-sm);
}

.about-us-wrapper {
    display: flex;
    gap: var(--space-lg);
}

.about-us-content {
    margin-top: var(--space-lg);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about-us-content__title {
    font-size: 3rem;
    font-weight: 500;
}

.quote {
    display: block;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-color: var(--quote-bg-color, var(--section-bg-color));
    color: var(--quote-text-color);
    padding: var(--space-xxl);
    border-radius: var(--radius-xl);
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 1rem;
    margin: var(--space-lg) 0;
}

.quote::after {
    content: "";
    position: absolute;
    top: 50%;
    right: var(--space-xl);
    transform: translateY(-50%);
    width: 6rem;
    height: 6rem;
    background-image: url("/icons/quote.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    z-index: -1;
}
