.site-header {
    margin: 1rem;
    padding: 1.5rem 1rem;
    border-radius: 20px;

    background-color: var(--header-bg-color);
    background-image: url("../../images/dark-section-img.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 2rem;

    .menu-link {
        font-weight: 500;
        transition: color 0.3s ease;
    }
}

/*=======================================
    Mobile
=======================================*/
.mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-actions {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

/*=======================================
    Desktop
=======================================*/
.desktop-header {
    display: none;
    padding: 0;

    .header-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
    }
}

.desktop-navigation {
    display: flex;
    justify-content: center;
}

@media (width >= 1220px) {

    .mobile-header {
        display: none;
    }

    .desktop-header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 2rem;
    }
}