.site-header {
    margin: 1rem;
    padding: 1.5rem 1rem 1.5rem;
    border-radius: 20px;
    background-color: var(--header-bg-color);
    background-image: url(../images/dark-section-img.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--header-text-color);
}

.menu {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 2rem;

    .menu-link {
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
            color: var(--accent-color);
        }
    }
}

.mobile-header {
    display: flex;
}

.desktop-header {
    display: none;
}