@{
    Layout = "~/Views/Shared/Layouts/_MyAccountLayout.cshtml";
}

<div class="my-bookings card">
    <div class="title-and-create">
        <h2 class="my-bookings-title">My Bookings</h2>
        <button class="primary-button">New Booking</button>
    </div>
    <div class="upcoming-bookings">
        <h3 class="list-title">Upcoming Bookings</h3>
        <ul class="upcoming-bookings-list">
            <li class="booking-item  card shadow">
                <div class="booking-info">
                    <h4 class="workout-type">Yoga Flow</h4>
                    <p class="workout-category">Group Class</p>
                    <p class="booking-date">20 Jul - 18:00</p>
                    <p class="booking-duration">Duration: 60 minutes</p>
                </div>
                <div class="booking-actions">
                    <button class="secondary-button">Cancel booking</button>
                </div>
            </li>

            <li class="booking-item  card shadow">
                <div class="booking-info">
                    <h4 class="workout-type">Yoga Flow</h4>
                    <p class="workout-category">Group Class</p>
                    <p class="booking-date">20 Jul - 18:00</p>
                    <p class="booking-duration">Duration: 60 minutes</p>
                </div>
                <div class="booking-actions">
                    <button class="secondary-button">Cancel booking</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="previous-bookings">
        <h3 class="list-title">Previous Bookings</h3>
        <table class="previous-bookings-table shadow card">
            <thead>
                <tr>
                    <th>Workout</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Yoga Flow</td>
                    <td>Group Class</td>
                    <td>20 Jul - 18:00</td>
                    <td>60 minutes</td>
                </tr>

                <tr>
                    <td>Yoga Flow</td>
                    <td>Group Class</td>
                    <td>20 Jul - 18:00</td>
                    <td>60 minutes</td>
                </tr>

                <tr>
                    <td>Yoga Flow</td>
                    <td>Group Class</td>
                    <td>20 Jul - 18:00</td>
                    <td>60 minutes</td>
                </tr>


            </tbody>
        </table>
    </div>


</div>