@model CoreFitness.Presentation.WebApp.Models.MyAccount.MyMembershipsViewModel

@{
    Layout = "~/Views/Shared/Layouts/_MyAccountLayout.cshtml";
}

<div class="my-memberships card">
    <h2 class="my-memberships-title">My Memberships</h2>

    @if (Model.HasActiveMembership && Model.ActiveMembership is not null)
    {
        <partial name="~/Views/Shared/Partials/MyAccount/_CurrentMembership.cshtml" model="Model.ActiveMembership" />
    }
    else
    {
        <partial name="~/Views/Shared/Partials/MyAccount/_AvailableMemberships.cshtml" model="Model.AvailablePlans" />
    }
</div>