<section class="section__about-us">
    <div class="container">
        <div class="about-us-wrapper">
            <img class="about-us-img"
                 src="~/images/about-us-image.webp"
                 alt="Group training session in a gym environment" />
            <div class="about-us-content">
                <p class="ui-badge">About Us</p>
                <h2 class="about-us-content__title">
                    Elevating Fitness Journey with Expert Guidance
                </h2>
                <p>
                    We support every stage of your fitness journey with certified
                    trainers, personalized programs, proven methods designed to
                    help you train safely, build strength.
                </p>

                <blockquote class="quote">
                    Our mission is to transform lives by combining expert
                    guidance, powerful training programs, and a motivating
                    community that helps you grow stronger every day.
                </blockquote>
            </div>
        </div>
    </div>
</section>