<section class="section__brands">
    <div class="container">
        <div class="brands-slider">
            <img src="~/images/brand-1.webp" alt="Brand 1 logo" />
            <img src="~/images/brand-2.webp" alt="Brand 2 logo" />
            <img src="~/images/brand-3.webp" alt="Brand 3 logo" />
            <img src="~/images/brand-4.webp" alt="Brand 4 logo" />
            <img src="~/images/brand-5.webp" alt="Brand 5 logo" />
        </div>
        <h2 class="brands-title">Modern Equipment</h2>
    </div>
</section>