<section class="section__programs">
    <div class="container">
        <div class="programs-wrapper">
            <div class="programs__title">
                <p class="ui-badge">Our Programs</p>
                <h2>
                    Professional training program<br />
                    for stronger health
                </h2>
            </div>
            <div class="programs-slider">
                <figure class="programs-card">
                <img src="~/images/program-image-1.webp" alt="A man working out with ropes" />
                </figure>
                <figure class="programs-card">
                <img src="~/images/program-image-2.webp" alt="Gym equipment" />
                </figure>
                <figure class="programs-card">
                <img src="~/images/program-image-3.webp" alt="A man lifting a bar" />
                </figure>
            </div>
            

            <p class="additional-information">
                Let's make something great work together.
                <a asp-controller="CustomerService" asp-action="Index">Get Free Quote</a>
            </p>
        </div>
    </div>
</section>