@{
    ViewData["Title"] = "Customer Service";
}

<section class="page-title">
    <div class="container">
        <h1>Customer Service</h1>
    </div>
</section>

@* CONTACT *@
<section class="customer-service-contact">
    <div class="container">
    <h2>Contact Us Today</h2>
    </div> 
</section>


@* FAQ *@
<section class="customer-service-faq">
    <div class="container">
        <h2>Common questions about gym and training</h2>
    </div>
</section>