@{
    ViewData["Title"] = "Customer Service";
}

<section class="page-title">
    <div class="container">
        <h1>Customer Service</h1>
    </div>
</section>

@* CONTACT *@
<section class="customer-service-contact">
    <div class="container">
        <div class="contact-card">
            <div class="contact-image">
                <img src="/img/contact-us-image.webp"
                     alt="Woman training in gym" />

                <div class="contact-overlay">
                    <address class="contact-overlay__column">
                        <div class="contact-overlay__icon" aria-hidden="true">
                            <div class="contact-icon">
                                <img src="/icons/phone.svg" alt="" />
                            </div>
                        </div>
                        <div class="contact-overlay__text">
                            <p class="contact-overlay__label">Phone Number</p>
                            <p class="contact-overlay__value">+(46) 8 410 521 00</p>
                        </div>
                    </address>

                    <address class="contact-overlay__column">
                        <div class="contact-overlay__icon" aria-hidden="true">
                            <div class="contact-icon">
                                <img src="/icons/envelope.svg" alt="" />
                            </div>
                        </div>
                        <div class="contact-overlay__text">
                            <p class="contact-overlay__label">Email Address</p>
                            <p class="contact-overlay__value">info@corefitness.se</p>
                        </div>
                    </address>
                </div>
            </div>

            <div class="contact-content">
                <h2>Contact Us Today</h2>
                <p>
                    Ready to begin your fitness journey? Contact us today and let
                    our expert trainers guide you with the right program and
                    support.
                </p>

                <!-- FORM -->
                <div class="contact-form-placeholder"></div>
            </div>
        </div>
    </div>
</section>


@* FAQ *@
<section class="customer-service-faq">
    <div class="container">
        <h2>Common questions about gym and training</h2>
    </div>
</section>