
<form>
    @Html.AntiForgeryToken()
    <div asp-validation - summary="ModelOnly" class="validation-summary" role="alert"></div>
    

    @* SUCCESS MESSAGE *@
    @{
        string? successMessage = TempData["SuccessMessage"] as string;
    }

    @if (!string.IsNullOrWhiteSpace(successMessage))
    {
        <div class="form-success" role="status">
            @successMessage
        </div>
    }
</form>