@{
    ViewData["Title"] = "Home";
}

@section Hero {
    <partial name="Partials/Home/_HeroSection" />
}

<div class="home-content-wrapper">
    <partial name="Partials/Home/_BrandsSection" />
    <partial name="Partials/Home/_AboutSection" />
    <partial name="Partials/Home/_ProgramsSection" />
    <partial name="Partials/Home/_StoreSection" />
</div>