@* din nuvarande huvudnavigation för desktop
fortfarande statisk meny *@


<nav class="desktop-navigation" aria-label="Primary navigation">
    <ul class="menu">

        <li class="menu-item">
            <a class="menu-link" href="/fitnesscenters">Fitness Centers</a>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="/memberships">Memberships</a>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="/training">Training</a>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="/customerservice">Customer Service</a>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="/store">Store</a>
        </li>

    </ul>
</nav>